body {
    background: var(--bg);
    color: var(--text);
    transition:
    background 0.2s ease,
    color 0.2s ease;
}

header {
    text-align: left;
}

footer {
    text-align: center;
}

header nav {
    background-color: #2C3E50;
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0E5BA8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005fc5;
}